{% extends "base.html" %}

{% block head %}
  {{ super() }}

  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block title %} Events list - {{ SITENAME }}{% endblock %}

{% block content %}
  <div class="article">
    <article>
      <header>
          <h2>Events</h2>
      </header>
      <div class="content">
          {% if events_list %}
          <ul class="post-list">
            {% for evstart, evend, event in events_list %}
            <li>
              <a href="../{{event.slug}}.html">
                <b>{{event['title']}}</b>
              </a>
              <br/>
              {% if evstart.date() == evend.date() %}
              <strong>{{evstart}} to {{evend.time()}}</strong>
              {% else %}
              <strong>{{evstart}} to {{evend}}</strong>
              {% endif %}

              {% if event.location %}
			  <p>Location: <a href="{{mapify(event.location)}}">{{event.location}}</a></p>
              {% endif %}

              {{event['summary']}}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </article>
  </div>
{% endblock %}
